
.review-card {
    background-color: #effaff;
    box-shadow: 0 0 0 1px #d4d4d5,0 2px 4px 0 rgba(34,36,38,.12),0 2px 10px 0 rgba(34,36,38,.15);
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    width: 320px;
    border-radius: .3rem;
    margin-top: 1em;
    display: flex;
}
.person-data {
    padding: 1em;
}
.review-data {
    border-left: 1px solid rgba(0,0,0,.125);
    padding: 1em;
}
.review-number {
    font-weight: 700;
    font-size: 1.3em;
}
.person-picture {
    width: 5em;
    height: 5em;
    border-radius: 500rem;
}
.checked {
    color: orange;
}
#cards-container {
    margin: 2rem;
}
.review-text {
    margin-top: 1em;
}

#new-review {
	box-shadow: 0px 1px 0px 0px #f0f7fa;
	background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
	background-color:#33bdef;
	border-radius:6px;
	border:1px solid #057fd0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px -1px 0px #5b6178;
}
#new-review:hover {
	background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
	background-color:#019ad2;
}
#new-review:active {
	position:relative;
	top:1px;
}

